.note {
  margin: auto;
  background-color: rgb(255, 255, 255);
  width: 30%;
  min-height: 16rem;
  text-align: center;
  box-shadow: 5px 5px 5px silver;
  border-radius: 10px;
  border: 2px solid pink;
}

.note:hover {
  background-color: rgb(255, 244, 246);
}

.button {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.button:hover {
  background-color: lightpink;
}
