@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap");

.note {
  margin: auto;
  margin-top: 1rem;
  background-color: rgb(255, 227, 223);
  width: 40%;
  overflow-wrap: break-word;
  min-height: 16rem;
  box-shadow: 5px 5px 5px rgb(99, 98, 98);
  border-radius: 10px;
  border: 2px solid pink;
}

.note:hover {
  background-color: rgb(250, 205, 212);
  transition: 0.2s;
}

.button {
  background-color: rosybrown;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  border: 2px solid rgb(116, 91, 91);
}
.button-save {
  margin-left: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  background-color: pink;
  border: 2px solid rgb(116, 91, 91);
}
.button-save:hover {
  border-color: antiquewhite;
  color: antiquewhite;
  transition: 0.2s;
}

.button:hover {
  border-color: antiquewhite;
  transition: 0.2s;
  color: antiquewhite;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modalbody {
  position: relative;
  text-align: center;
  border-radius: 10px;
  border: 2px solid pink;
  width: 30%;
  top: 30%;
  margin: auto;
  display: block;
  justify-content: center;
  background-color: rgb(255, 227, 223);
  padding: 1rem;
}

.modalfooter {
  padding: 2px;
  display: flex;
  justify-content: center;
}

.footers {
  text-align: center;
  margin-top: 2rem;
  height: 2rem;
  background-color: rgb(150, 105, 105);
  color: rgb(71, 56, 56);
}

.inputtext {
  background-color: rgb(255, 237, 234);
  border-radius: 10px;
  margin: 2px;
  width: 80%;
  padding: 5px;
  height: 200px;
}

.inputs {
  background-color: rgb(255, 237, 234);
  border-radius: 9px;
  width: 80%;
  padding: 2px;
  margin: 2px;
}

.title {
  text-align: center;
  margin-top: 2px;
  font-weight: bold;
  font-size: 30px;
  font-family: "Montserrat";
}

.modal-body {
  background-color: rgb(255, 227, 223);
}

.addButtonDiv {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.addButton {
  font-size: 20px;
  background-color: rosybrown;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
}

.addButton:hover {
  border-color: antiquewhite;
  transition: 0.2s;
  color: antiquewhite;
}
