@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");

:root {
  --dark: rgb(93, 68, 97);
  --medium: rgb(173, 126, 142);
  --light: rgb(233, 223, 222);
  --transitions: rgb(232, 214, 228);
  --contour: rgb(84, 57, 100);
  --alert: red;
  --shadows: rgb(99, 98, 98);
}

* {
  box-sizing: border-box;
}

.flexcontain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
}

.descriptions {
  margin: auto;
  text-align: center;
  width: 300px;
}

.pagecontainer {
  min-height: 85vh;
  margin-top: 5rem;
}

.imgcontainer {
  padding: 10px 10px;
  margin: 5px 5px;
  border: 2px solid var(--contour);
  border-radius: 10px;
  background-color: var(--light);
}

.imgcontainer:hover {
  box-shadow: 5px 5px 5px var(--shadows);
}

.imgs {
  width: 300px;
  height: 300px;
  object-fit: contain;
  cursor: pointer;
}

.imgsmodal {
  margin: auto;
  width: max-content;
  max-width: 90%;
  height: 500px;
  object-fit: contain;
  cursor: pointer;
}

.dialogModal {
  padding: 10px;
  position: relative;
  border-radius: 10px;
  border: 2px solid var(--contour);
  width: fit-content;
  max-width: 80%;
  top: 20%;
  margin: auto;
  background-color: var(--light);
  z-index: 1;
}

.modalzoomcont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  columns: 1;
}

.column1 {
  margin: auto;
  width: 200px;
  display: block;
}

.editDescription {
  background-color: var(--light);
  border-radius: 10px;
  width: 100%;
  padding: 5px;
  height: 100px;
  text-align: center;
  align-self: center;
  resize: none;
  overflow: auto;
  margin-left: 5px;
}

.flexdescription {
  font-family: "Montserrat";
  font-size: 20px;
  margin: auto;
  text-align: center;
  width: 300px;
}

@media screen and (max-width: 1232px) {
  .column1 {
    width: 100%;
  }
  .editDescription {
    height: min-content;
  }
  .flexdescription {
    margin: auto;
    text-align: center;
  }

  .dialogModal {
    top: 10%;
  }
}

.note {
  margin: auto;
  margin-top: 1rem;
  background-color: var(--light);
  width: 40%;
  max-width: 500px;
  overflow-wrap: break-word;
  min-height: 16rem;
  box-shadow: 5px 5px 5px var(--shadows);
  border-radius: 10px;
  border: 2px solid var(--contour);
}

.note:hover {
  background-color: var(--transitions);
  transition: 0.2s;
}

.button {
  background-color: var(--medium);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  border: 2px solid var(--contour);
  font-family: "Montserrat";
}
.button-save {
  margin-left: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  background-color: var(--medium);
  border: 2px solid var(--contour);
  font-family: "Montserrat";
}
.button-save:hover {
  border-color: var(--light);
  color: var(--light);
  transition: 0.2s;
}

.button:hover {
  border-color: var(--light);
  transition: 0.2s;
  color: var(--light);
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modalbody {
  position: relative;
  text-align: center;
  border-radius: 10px;
  border: 2px solid var(--contour);
  width: 30%;
  top: 15%;
  margin: auto;
  display: block;
  background-color: var(--light);
  padding: 2px;
}

.modalfooter {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.headers {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 0.5rem solid var(--dark);
  background-color: var(--dark);
  color: var(--light);
  font-size: 18px;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-family: "Montserrat";
}

.footers {
  width: 100%;
  bottom: 0;
  text-align: center;
  margin-top: 2rem;
  height: 2rem;
  background-color: var(--transitions);
  color: var(--contour);
  font-family: "Montserrat";
}

.inputtext {
  background-color: var(--light);
  border-radius: 10px;
  margin: 2px;
  width: 80%;
  padding: 5px;
  height: 200px;
}

.inputtext:focus {
  background-color: var(--transitions);
}

.inputs {
  background-color: var(--light);
  border-radius: 9px;
  width: 80%;
  padding: 5px;
  margin: 2px;
}

.inputs:focus {
  background-color: var(--transitions);
}

.title {
  text-align: center;
  margin-top: 2px;
  font-weight: bold;
  font-size: 30px;
  font-family: "Montserrat";
}

.addButtonDiv {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.addButton {
  font-size: 18px;
  background-color: var(--dark);
  color: var(--transitions);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  font-family: "Montserrat";
}

.addButton:hover {
  border-color: var(--light);
  transition: 0.2s;
  color: var(--light);
}

.dropdown1 {
  margin-left: auto;
  margin-right: 10rem;
  position: relative;
  display: inline-block;
}

.dropdown1:hover .droprowncontent {
  display: block;
}
.droprowncontent {
  border-radius: 10px;
  display: none;
  position: absolute;
  background-color: var(--medium);
  padding: 5px 0px 5px 35px;
  width: 150px;
  overflow: auto;
  z-index: 1;
  box-shadow: 5px 5px 5px var(--shadows);
}
.loginButton {
  border-radius: 20px;
  border: 2px solid var(--contour);
  font-size: 20px;
  background-color: var(--medium);
  color: var(--light);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
}

@media screen and (max-width: 595px) {
  .loginButton {
    margin-left: 10px;
    font-size: 13px;
    float: right;
    display: flex;
  }
  .droprowncontent {
    margin-top: 60%;
  }
}

.nav {
  font-family: "Montserrat";
  font-size: 20px;
  text-decoration: none;
  color: var(--light);
}

.nav:hover {
  font-weight: bolder;
  color: var(--contour);
  transition: 5ms;
}

.loginsignup {
  width: 30%;
  top: 30%;
  margin: auto;
  padding-top: 10rem;
  display: block;
  justify-content: center;
}

.plaintext {
  font-family: "Montserrat";
  font-size: 20px;
}

.errormessage {
  position: relative;
  margin: auto;
  margin-bottom: 1rem;
  font-family: "Montserrat";
  font-size: 18px;
  color: var(--alert);
  background-color: var(--transitions);
  text-align: center;
  border-radius: 10px;
  width: 50%;
}
